

/* ylesanne valmis */
li.completed {
	background-color: #a7e8f2;
}



/* fixed header
.ui-bar, .ui-bar-a {
	font-weight: 700;
	text-shadow: none;
	border-color: #52c234;
	color: black;
	-webkit-box-shadow: 0px 2px 4px #888888;
	-moz-box-shadow: 0px 2px 4px #888888;
	box-shadow: 0px 2px 4px #888888;
}
*/

.ui-mobile .ui-header {
	background-color: #52c234;
	background-image: none;
	font-weight: 700;
	text-shadow: none;
	border: none;
	color: black;
	-webkit-box-shadow: 0px 2px 4px #888888;
	-moz-box-shadow: 0px 2px 4px #888888;
	box-shadow: 0px 2px 4px #888888;
}


/* ylesannete nimekiri */
.ui-li {
	border-top-width: 0px;
}


/* nimekirja tekst */

.ui-li-desc {
	font-size: 1em;
	display: inline-block;
}

.ui-li-heading {
	display: inline-block;
	float: right;
}


/* nupud (valmis, pooleli, lisa uus) */
.ui-page,
.ui-btn{
	background-color: #f6efe8;
	background-image: none;
}

.ui-icon-check {
	background-color: #52c234;
}

.ui-icon-delete {
	background-color: #ff6040;
}

.ui-icon-plus {
	background-color: #000;
}

.ui-content,
.ui-btn,
ul a {
	-webkit-box-shadow: 0px 2px 4px #888888;
	-moz-box-shadow: 0px 2px 4px #888888;
	box-shadow: 0px 2px 4px #888888;
}


.ui-btn {
	border: none;
}

.delete {
	background-color: #ffc5ba;
}

.add {
	background-color: #aedd94;
}


.ui-btn-up-c,
.ui-btn-hover-c {
	text-shadow: none;
}


.ui-btn-inner {
	border-top: 1px solid #fff;
	border-color: rgba(255,255,255,.3);
}
